<!-- ############FORM SUBMIT MODE #################################### -->

<form [formGroup]="requestForm" *ngIf="!edit">
  <div class="container">
    <h2>Request a certification</h2>
    <div class="fill"></div>
    <button mat-icon-button mat-dialog-close>x</button>
  </div>
  <mat-divider></mat-divider>
  <br />
  <h4>Choose a certification</h4>
  <mat-form-field appearance="outline">
    <mat-label>Choose Certification</mat-label>
    <mat-select formControlName="title" (selectionChange)="showQuarter()">
      <mat-option *ngFor="let request of requests" [value]="request">
        {{ request.certificationTitle }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <br />
  <div *ngIf="quarter">This certification is in quarter Q{{ quarter }}</div>
  <mat-divider></mat-divider>
  <h4>Business Justification</h4>
  <mat-form-field appearance="outline" class="business-justification">
    <mat-label>Business Justification</mat-label>
    <textarea
      matInput
      placeholder="Ex. Employers looking to hire want you to have knowledge, experience and certifications in your areas of expertise."
      formControlName="justification"
    ></textarea>
  </mat-form-field>
  <button
    mat-raised-button
    mat-dialog-close
    class="submit-button"
    (click)="submitRequest()"
  >
    Submit
  </button>
</form>

<!-- ############################ EDIT FORM #################################-->

<form *ngIf="edit" [formGroup]="editForm">
  <div class="container">
    <h2>Edit certification</h2>
    <div class="fill"></div>
    <button mat-icon-button mat-dialog-close>x</button>
  </div>
  <mat-divider></mat-divider>
  <br />
  <h4>Certification Title</h4>
  <mat-form-field appearance="outline">
    <mat-label>{{ request.certificationTitle }}</mat-label>
    <mat-select formControlName="title"> </mat-select>
  </mat-form-field>

  <br />

  <mat-divider></mat-divider>
  <h4>Business Justification</h4>
  <mat-form-field appearance="outline" class="business-justification">
    <mat-label>Business Justification</mat-label>
    <textarea matInput formControlName="justification"></textarea>
  </mat-form-field>

  <button
    mat-raised-button
    mat-dialog-close
    class="submit-button"
    (click)="submitChanges()"
  >
    Submit Changes
  </button>
</form>
