<form [formGroup]="requestForm">
  <h2>Request a certification</h2>
  <mat-divider></mat-divider>
  <br />
  <h4>Choose a certification</h4>
  <mat-form-field appearance="outline">
    <mat-label>Choose Certification</mat-label>
    <mat-select formControlName="title">
      <mat-option *ngFor="let request of requests" [value]="request.id">
        {{ request.certificationTitle }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <br />

  <mat-divider></mat-divider>
  <h4>Business Justification</h4>
  <mat-form-field appearance="outline" class="business-justification">
    <mat-label>Business Justification</mat-label>
    <textarea
      matInput
      placeholder="Ex. Employers looking to hire want you to have knowledge, experience and certifications in your areas of expertise."
      formControlName="justification"
    ></textarea>
  </mat-form-field>
  <button
    mat-raised-button
    color="primary"
    class="submit-button"
    (click)="submitRequest()"
  >
    Submit
  </button>
</form>
