form {
  width: 500px;
}

mat-form-field {
  width: 500px;
}

.business-justification {
  width: 100%;
}

.submit-button {
  margin-top: 20px;
  display: block;
  width: 80%;
  margin: 20px auto;
  background-color: #c4c4c4;
  color: black;
}

.container {
  display: flex;
}

.fill {
  flex: 1 1;
}

textarea {
  height: 150px;
}

::ng-deep.mat-select-panel {
  background-color: #353e4d !important;
}

.form-error {
  color: red;
}
