.icon {
  font-size: 20px;
  vertical-align: middle;
  margin-bottom: 10px;
}

.background {
  background-color: #282d39;
}

.navigate-text {
  margin-left: 20px;
}

.cards {
  height: 600px;
  width: 300px;
  background-color: #353e4d;
  color: white;
  margin-bottom: 15px;
  margin-top: 50px;
  margin-left: 5px;
  margin-right: 5px;
}

.status {
  color: whitesmoke;
  width: 60px;
  height: 10px;
  text-align: center;
  align-content: center;
  vertical-align: middle;
  line-height: 10px;
  font-size: 15px;
}

.space {
  flex: 1 1 auto;
}

.approve-button {
  background-color: #44786a;
  height: 35px;
  width: 80px;
}

.reject-button {
  background-color: rgb(192, 57, 43, 0.8);
  margin-left: 4px;
  height: 35px;
  width: 80px;
}

.edit-button {
  background-color: rgb(52, 73, 94);
}

.approved {
  background-color: #44786a;
}

.rejected {
  background-color: red;
}

.pending {
  background-color: #ffe5b4;
  color: black;
}

.container {
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

.fill {
  flex: 1 1;
}

.button {
  border-style: solid;
  border-width: 2px;
  border-color: white;
  background-color: #353e4d;
  margin-left: 10px;
  width: 200px;
}

.delete-button {
  margin-left: auto;
}

.search-filtered {
  position: absolute;
  left: 39%;
  margin-top: 10px;
  margin-left: 20px;
}

.margin {
  margin-top: 100px;
}

.footer-buttons {
  position: absolute;
  bottom: 0;
  display: flex;
}

.mijl {
  text-align: center;
  align-content: center;
  vertical-align: middle;
}

.spacing {
  margin-top: 30px;
  font-size: 12px;
}

.drawer-buttons {
  width: 220px;
  margin-left: 10px;
  margin-top: 13px;
}

.logout-button {
  color: red;
}

.toolbar-icon {
  font-size: 35px;
  vertical-align: middle;
  margin-bottom: 10px;
}

.cert-master-toolbar {
  margin-left: 12px;
}
