.cards {
  height: 280px;
  background-color: rgb(30, 30, 30);
  color: white;
  margin-bottom: 15px;
  margin-top: 15px;
  margin-left: 5px;
  margin-right: 5px;
}

.status {
  color: whitesmoke;
  width: 70px;
  height: 10px;
  text-align: center;
  vertical-align: middle;
  line-height: 10px;
}

.space {
  flex: 1 1 auto;
}

.approve-button {
  background-color: rgb(39, 174, 96, 0.8);
  height: 35px;
  width: 80px;
}

.reject-button {
  background-color: rgb(192, 57, 43, 0.8);
  margin-left: 4px;
  height: 35px;
  width: 80px;
}

.edit-button {
  background-color: rgb(52, 73, 94);
}

.approved {
  background-color: #00dbc6;
  color: black;
}

.rejected {
  background-color: red;
}

.pending {
  background-color: #ffe5b4;
  color: black;
}

.container {
  display: flex;
}

.fill {
  flex: 1 1;
}

.button {
  background-color: #7268a6;
}

.search-filtered {
  position: absolute;
  margin-top: 10px;
  left: 15%;
}
