<div>
  <mat-toolbar>
    <mat-icon class="toolbar-icon">blur_on</mat-icon
    ><a class="cert-master-toolbar">Cert-Master</a>
    <span class="spacer"></span>

    <div fxFlex></div>
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" yPosition="below">
      <button mat-menu-item [routerLink]="['/dashboard-user']">User</button>
      <button mat-menu-item [routerLink]="['/all-certifications']">
        All Certifications
      </button>
      <button mat-menu-item [routerLink]="['/authenticate']" class="menu">
        Logout
      </button>
    </mat-menu>
  </mat-toolbar>

  <mat-card class="background">
    <div>
      <button
        mat-stroked-button
        class="button"
        (click)="openDialogFilterModal()"
      >
        Choose filters
      </button>
      <div class="search-filtered">
        User requests filtered by: {{ filterStatus != '' ? 'Status' : '' }}
        {{ filterStatus }}
        {{ filterQuarter != '' ? 'Quarter Q' : '' }} {{ filterQuarter }}
      </div>
      <div fxFlex></div>

      <button mat-mini-fab (click)="openSnackBar()">
        <a [href]="downloadLink">
          <i
            class="far fa-file-excel"
            style="font-size: 25px; color: white;"
          ></i>
        </a>
      </button>
    </div>

    <mat-grid-list cols="4" rowHeight="670px">
      <mat-grid-tile *ngFor="let request of allCertifications">
        <mat-card class="cards">
          <div class="container">
            <a>
              <mat-card-title> {{ request.userName }}</mat-card-title>
              <mat-card-subtitle>
                Request no. {{ request.requestId }}
              </mat-card-subtitle>
            </a>
            <div class="fill"></div>
            <mat-card
              class="status"
              [ngClass]="{
                approved: request.status == 'Approved',
                rejected: request.status == 'Rejected',
                pending: request.status == 'Pending'
              }"
              >{{ request.status }}</mat-card
            >
          </div>

          <mat-card-content class="spacing">
            <p>
              <sub><mat-icon class="icon">assignment</mat-icon></sub
              >Certification Title
            </p>
            <a>{{ request.certificationTitle }}</a>
            <hr />
            <p>
              <sub><mat-icon class="icon">style</mat-icon></sub
              >Category
            </p>
            <p>{{ request.categoryName }}</p>
            <hr />
            <p>
              <sub><mat-icon class="icon">query_builder</mat-icon></sub
              >Quarter
            </p>
            <p>Q{{ request.quarter }}</p>
            <hr />

            <p>
              <sub><mat-icon class="icon"> insert_comment</mat-icon></sub
              >Business Justification
            </p>
            <p>{{ request.businessJustification }}</p>
          </mat-card-content>

          <div class="footer-buttons">
            <mat-card-content>
              <mat-grid-list cols="3">
                <a *ngIf="request.status === 'Pending'">
                  <button
                    mat-raised-button
                    matTooltip="Approve this request"
                    class="approve-button"
                    (click)="
                      openDialogAcceptReject(request.requestId, 'Approved')
                    "
                  >
                    Approve
                  </button>

                  <button
                    mat-stroked-button
                    matTooltip="Reject this request"
                    class="reject-button"
                    (click)="
                      openDialogAcceptReject(request.requestId, 'Rejected')
                    "
                  >
                    Reject
                  </button>
                </a>

                <a fxFlex></a>
                <a class="delete-button">
                  <button
                    mat-stroked-button
                    matTooltip="Delete this request"
                    color="warn"
                    (click)="deleteDialog(request.requestId)"
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                </a>
              </mat-grid-list>
            </mat-card-content>
          </div>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card>
</div>

<!--

<mat-card class="background">
  <div>
    <button mat-stroked-button class="button" (click)="openDialogFilterModal()">
      Filter list
    </button>
    <div class="search-filtered">
      Search filtered by: {{ filterStatus != '' ? 'Status' : '' }}
      {{ filterStatus }}
      {{ filterQuarter != '' ? 'Quarter Q' : '' }} {{ filterQuarter }}
    </div>
    <div fxFlex></div>

    <button mat-mini-fab (click)="openSnackBar()">
      <a [href]="downloadLink">
        <i class="far fa-file-excel" style="font-size: 25px; color: white;"></i>
      </a>
    </button>
  </div>

  <mat-grid-list cols="4" rowHeight="670px">
    <mat-grid-tile *ngFor="let request of allCertifications">
      <mat-card class="cards">
        <div class="container">
          <a>
            <mat-card-title> {{ request.userName }}</mat-card-title>
            <mat-card-subtitle>
              Request no. {{ request.requestId }}
            </mat-card-subtitle>
            
            <mat-card-title> {{ request.certificationTitle }} </mat-card-title>
            <mat-card-subtitle> {{ request.categoryName }}</mat-card-subtitle>
            
          </a>
          <div class="fill"></div>
          <mat-card
            class="status"
            [ngClass]="{
              approved: request.status == 'Approved',
              rejected: request.status == 'Rejected',
              pending: request.status == 'Pending'
            }"
            >{{ request.status }}</mat-card
          >
        </div>

        <mat-card-content class="spacing">
          <p>
            <sub><mat-icon class="icon">assignment</mat-icon></sub
            >Certification Title
          </p>
          <a>{{ request.certificationTitle }}</a>
          <hr />
          <p>
            <sub><mat-icon class="icon">style</mat-icon></sub
            >Category
          </p>
          <p>{{ request.categoryName }}</p>
          <hr />
          <p>
            <sub><mat-icon class="icon">query_builder</mat-icon></sub
            >Quarter
          </p>
          <p>Q{{ request.quarter }}</p>
          <hr />

          <p>
            <sub><mat-icon class="icon"> insert_comment</mat-icon></sub
            >Business Justification
          </p>
          <p>{{ request.businessJustification }}</p>
        </mat-card-content>

        <div class="footer-buttons">
          <mat-card-content>
            <mat-grid-list cols="3">
              <a *ngIf="request.status === 'Pending'">
                <button
                  mat-stroked-button
                  matTooltip="Approve this request"
                  class="approve-button"
                  (click)="
                    openDialogAcceptReject(request.requestId, 'Approved')
                  "
                >
                  Approve
                </button>

                <button
                  mat-stroked-button
                  matTooltip="Reject this request"
                  class="reject-button"
                  (click)="
                    openDialogAcceptReject(request.requestId, 'Rejected')
                  "
                >
                  Reject
                </button>
              </a>

              <a fxFlex></a>
              <a class="delete-button">
                <button
                  mat-stroked-button
                  matTooltip="Delete this request"
                  color="warn"
                  (click)="deleteDialog(request.requestId)"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </a>
            </mat-grid-list>
          </mat-card-content>
        </div>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
-->
