.cards {
  background-color: #343c4c;
  color: white;
  margin-bottom: 15px;
  margin-top: 15px;
  margin-left: 5px;
  margin-right: 5px;
}

mat-card-subtitle {
  color: #878d95;
}

mat-grid-tile {
  font-size: 20px;
  text-align: left;
}

.status {
  color: black;
  width: 70px;
  height: 10px;
  text-align: center;
  vertical-align: middle;
  line-height: 10px;
  font-size: 15.2px;
}

mat-icon {
  font-size: 17px;
  margin-top: 2px;
  vertical-align: middle;
}

.title {
  text-align: left;
}

.container {
  display: flex;
}

.fill {
  flex: 1 1;
}

.approved {
  background-color: #acfd9f;
}

.rejected {
  background-color: red;
}

.pending {
  background-color: #fdeb9f;
}

.button {
  background-color: #556ee6;
}
