.cards {
  width: 700px;
  height: 320px;
  background-color: #353e4d;
  color: white;
  margin-bottom: 15px;
  margin-top: 15px;
  margin-left: 5px;
  margin-right: 5px;
}

mat-card-subtitle {
  color: #878d95;
}

mat-grid-tile {
  font-size: 20px;
  text-align: left;
}

mat-icon {
  font-size: 17px;
  margin-top: 2px;
  vertical-align: middle;
}

.button {
  background-color: #c4c4c4;
  color: #353e4d;
}

.icon {
  font-size: 40px;
}

.search-box {
  width: 300%;
  height: 40px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #c4c4c4;
}

.search-mat-card {
  height: 26px;
  width: 1480px;
  display: flex;
  align-items: center;
  background-color: #353e4d;
  right: 20px;
  bottom: 15px;
}

/* ############# Certification-title related ################# */
.certification-title {
  position: absolute;
  left: 100px;
  top: 50px;
  left: 38px;
  font-size: x-large;
  height: 20px;
}

/* ############ Certification-category related ########### */
.certification-category {
  position: absolute;
  left: 100px;
  top: 115px;
  left: 38px;
  font-size: large;
  height: 20px;
}

/*  ################### Status Related ################# */
.status {
  color: black;
  width: 200px;
  height: 10px;
  text-align: center;
  vertical-align: middle;
  line-height: 10px;
  font-size: 15.2px;
}

.approved {
  background-color: #acfd9f;
}

.rejected {
  background-color: red;
}

.pending {
  background-color: #fdeb9f;
}

.div-matcard-status {
  position: absolute;
  top: 50px;
}

.align-status {
  position: absolute;
  font-size: large;
  margin-top: 45px;
  left: 38px;
  top: 100px;
}

/* ######### Edit request button related  ######## */
.edit-request-icon {
  font-size: 25px;
  margin-bottom: 90px;
  color: #c4c4c4;
}

::ng-deep .mat-menu-content {
  background-color: #353e4d !important;
}

.delete-button {
  color: red;
}

::ng-deep.mat-dialog-container {
  background-color: #282d39 !important;
}

/* ########## Request card details position ############# */
.quarter-position {
  position: absolute;
  top: 40px;
  left: 15px;
}

.cost-position {
  position: absolute;
  top: 60px;
  left: 15px;
}

.business-justification-position {
  position: absolute;
  top: 50px;
  left: 15px;
  bottom: 40px;
  top: 100px;
}

.vertical-line {
  border-left: 1px solid #c4c4c4;
  position: absolute;
  margin-right: 14px;
  height: 400px;
  bottom: 20px;
  left: 0px;
}

.search-icon {
  color: black;
  position: fixed;
  top: 85px;
  left: 20px;
  font-size: 15px;
}
