.cards {
  width: 700px;
  height: 320px;
  background-color: #353e4d;
  color: white;
  margin-bottom: 15px;
  margin-top: 15px;
  margin-left: 5px;
  margin-right: 5px;
}

mat-card-subtitle {
  color: #878d95;
}

mat-grid-tile {
  font-size: 20px;
  text-align: left;
}

.status {
  color: black;
  width: 110px;
  height: 10px;
  text-align: center;
  vertical-align: middle;
  line-height: 10px;
  font-size: 15.2px;
}

mat-icon {
  font-size: 17px;
  margin-top: 2px;
  vertical-align: middle;
}

.title {
  text-align: left;
}

.container {
  display: flex;
}

.fill {
  flex: 1 1;
}

.approved {
  background-color: #acfd9f;
}

.rejected {
  background-color: red;
}

.pending {
  background-color: #fdeb9f;
}

.button {
  background-color: #c4c4c4;
  color: #353e4d;
}

.icon {
  font-size: 40px;
}

.search-box {
  width: 300%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #c4c4c4;
}

.search-mat-card {
  height: 26px;
  width: 97.3%;
  display: flex;
  align-items: center;
  background-color: #353e4d;
}

.ceva {
  text-align: center;
  align-content: center;
  vertical-align: middle;
  align-items: center;
}

.footer-buttons {
  position: absolute;
  bottom: 0;
  display: flex;
}

.certification-title {
  position: absolute;
  left: 5px;
  font-size: x-large;
  height: 20px;
}

.div-matcard-status {
  margin-top: 50px;
  position: absolute;
  left: 5px;
}

.certification-category {
  position: absolute;
  left: 5px;
  font-size: large;
  margin-top: 50px;
}

.center-things {
  margin-bottom: 100px;
  margin-left: 50px;
}

.align-status {
  position: absolute;
  left: 0;
  font-size: large;
  margin-top: 45px;
}

.edit-request-icon {
  font-size: 25px;
  margin-bottom: 90px;
}
