mat-card {
  background-color: #353e4c;
}

.form {
  width: 500px;
  height: 30px;
  background-color: #c4c4c4;
}

.spacer {
  flex: 1 1 auto;
}

.field {
  width: 300px;
  height: 20px;
  font-size: small;
}
