.cards {
  background-color: #f5cd7a;
  height: 200px;
  width: 400px;
  margin-right: 5px;
  color: black;
}

.back {
  background-color: rgb(18, 18, 18, 0.9);
}

h2 {
  text-align: center;
}

.margin {
  margin-top: 20px;
}
