.cards {
  background-color: #3f3d3a;
  height: 300px;
  width: 600px;
  margin-right: 5px;
}

.back {
  background-color: rgb(18, 18, 18, 0.9);
}

h2 {
  text-align: center;
}

.margin {
  margin-top: 20px;
}

.header-image {
  background-image: url('https://www.colourbox.com/preview/24614905-graduation-cap-icon.jpg');
  background-size: cover;
}

mat-card-header {
  height: 60px;
}

.line {
  margin: 0px;
  text-align: left;
}
