<app-nav-toolbar-user> </app-nav-toolbar-user>

<mat-card class="back">
  <div class="margin"></div>
  <h2>Available certifications</h2>
  <mat-grid-list cols="3">
    <mat-grid-tile *ngFor="let request of requests">
      <mat-card class="cards">
        <mat-card-title> {{ request.certificationTitle }} </mat-card-title>
        <mat-card-subtitle>{{ request.categoryName }}</mat-card-subtitle>
        <hr color="black" />
        <mat-card-content>
          <p>Available quarters: Q{{ request.quarter }}</p>
          <p>Cost: {{ request.price }}$</p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
