<mat-card>
  <mat-card class="form">
    <mat-form-field class="field">
      <mat-icon matSuffix>search</mat-icon>
      <input matInput="search" placeholder="Search" />
    </mat-form-field>

    <span class="spacer"></span>
    <button mat-raised-button><mat-icon>face</mat-icon></button>
  </mat-card>

  <p>Quarter</p>
  <mat-form-field>
    <mat-label>Filter by quarter</mat-label>
    <mat-select>
      <mat-option>Q1</mat-option>
      <mat-option>Q2</mat-option>
      <mat-option>Q3</mat-option>
      <mat-option>Q4</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Filter by status</mat-label>
    <mat-select>
      <mat-option>Approved</mat-option>
      <mat-option>Pending</mat-option>
      <mat-option>Rejected</mat-option>
    </mat-select>
  </mat-form-field>
</mat-card>
